p {
font-family: "Berkshire Swash", "Times New Roman", serif;
}
p.site-title, p.titulo-seccion {
font-family: "Berkshire Swash", "Times New Roman", serif;
text-align: center;
clear: both;
color: Coral;
font-size: 40px;
font-size: 4.0rem;
line-height: normal;
margin: 0;
padding: 0 20px;
}
p.titulo1 {
font-family: "Berkshire Swash", "Times New Roman", serif;
font-size: 52px;
font-size: 5.2rem;
text-align: center;
}
